:root{
    --background-dark: #2d2872;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2; 
    --white: #030d22;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.inactive{
    display: none;
}
.title-encriptado{
    color: var(--hospital-green);
}
.title-desencriptado{
    color: var(--background-dark);
}
.encriptado{
    background: var(--background-dark);
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) background;
}
.desencriptado{
    background: var(--hospital-green);
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) background;  
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.label{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 4px;
}
.label-2{
    color: var(--white);
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.input-email{
    margin-bottom: 22px;
}
.form{
    display: flex;
    flex-direction: column;
}
.form a{
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
.primary-button{
    background: var(--hospital-green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.primary-button-2{
    background: var(--background-dark);
    border: none;
    border-radius: 8px;
    color: var(--very-light-pink);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
.secondary-button{
    background: var(--white);
    border: 1px solid var(--hospital-green);
    border-radius: 8px;
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.mensaje-encriptado{
    color: var(--very-light-pink);
}
.msj-container{
    background: var(--text-input-field);
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 8px;
    max-width: 300px;
    align-items: center;
    margin-bottom: 32px;
}
.msj-container input{
    margin: 0;
}
.msj-container img{
    cursor: pointer;
    position: relative;
    margin: 4px;
    width: 22px;
}
.clave-container{
    display: grid;
    grid-template-columns: 1fr auto auto;
}
.clave-container input{
    width: 180px;
}
.generar-button{
    background: var(--hospital-green);
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.generar-button-2{
    background: var(--background-dark);
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: var(--very-light-pink);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
@media (max-width:640px){
    .logo{
        display: block;
    }
    .secondary-button{
        margin-top: 100px;
    }
}
